:root {
  --primary: hsla(215, 50%, 45%, 1);
  --dark: hsla(215, 95%, 16%, 1);
  --light: hsla(215, 94%, 75%, 1);
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

main h1 {
  font-size: 4rem;
  text-align: center;
}

main h2 {
  font-size: 2rem;
}

main p {
  text-transform: none;
  font-size: 2rem;
  margin: 20px;
}

button {
  width: 30%;
  height: 3em;
  margin: 10px 35%;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Barlow Condensed", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  border: 0px solid var(--primary);
  background-color: var(--dark);
  color: var(--light);
}

button:hover {
  color: var(--primary);
}

/* second section */

.second {
  background-color: hsla(215, 90%, 20%, 0.3);
  margin-top: 40px;
  height: 300px;
}

.second h2 {
  text-align: center;
}

.collaborators {
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.second img {
  width: 40px;
  height: auto;
  margin: 30px;
}