:root {
  --primary: hsla(215, 50%, 45%, 1);
  --dark: hsla(215, 95%, 16%, 1);
  --light: hsla(215, 94%, 75%, 1);
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

main h1 {
  font-size: 4rem;
  text-align: center;
}

main h2 {
  font-size: 3rem;
}

main p {
  text-transform: none;
  font-size: 2rem;
  margin: 20px;
}

button {
  width: 30%;
  height: 3em;
  margin: 10px 35%;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Barlow Condensed", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  border: 3px solid var(--dark);
  background-color: var(--primary);
  color: var(--dark);
}

button:hover {
  background-color: var(--dark);
  color: var(--light);
}

main aside {
  display: flex;
  align-items: center;
}

/* second section */

.second {
  background-color: hsla(215, 90%, 20%, 0.3);
  margin-top: 30px;
  height: 30em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#secondcontainer {
  display: flex;
  flex-direction: column;
}

#secondtitle {
  margin: 10px;
  text-align: center;
  height: auto;
}

.collaborators {
  width: 40%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.second img {
  width: 60px;
  height: auto;
}

.second img + img {
  margin-left: 20px;
}
