:root {
  --primary: hsla(215, 50%, 45%, 1);
  --dark: hsla(215, 95%, 16%, 1);
  --light: hsla(215, 94%, 75%, 1);
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--light);
}

.active {
  text-decoration: underline;
}

header,
header a {
  font-family: "Barlow Condensed", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--light);
  text-decoration: none;
}

header a:hover {
  color: var(--primary);
}

header h1:hover {
  color: var(--primary);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--dark);
  padding: 16px 32px;
  border-bottom: 3px solid var(--primary);
}

main {
  margin: 100px auto;
  max-width: 80%;
  background-color: var(--light);
}

main h1,
main h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: var(--dark);
  margin: 10px 3px 3px;
}

main > p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: large;
  color: var(--dark);
}

.footer {
  min-height: 52px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  font-family: "Barlow Condensed", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--light);
  background-color: var(--dark);
  border-top: 3px solid var(--primary);
}

.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  padding: 5px;
  border: 3px solid var(--primary);
  border-radius: 10px;
  font-size: large;
}
