// COLORS
// #000000 - black
// #14213d - dark blue
// #fca311 - yellow
// #CEA0AE - pink
// #e5e5e5 - offwhite
$orange: #FF9721;
$neutral: #000413;
$neutral-light: #25222F;
$blue: #3864C2;
$white: #FFFFFF;
// FONTS
$roboto: "Roboto", Helvetica, sans-serif;
$opensans: "Open Sans", Helvetica, sans-serif;
$barlowcondensed: "Barlow Condensed", Helvetica, sans-serif;
