// COLORS
$primary: hsla(215, 50%, 45%, 1);
$dark: hsla(215, 95%, 16%, 1);
$light: hsla(215, 94%, 75%, 1);
$text-color: hsla(215, 100%, 50%, 1);
$stripe: hsla(215, 90%, 20%, 0.3);;
// FONTS
$font-p: "Roboto", Helvetica, sans-serif;
$font-titles: "Open Sans", Helvetica, sans-serif;
$font-bold: "Barlow Condensed", Helvetica, sans-serif;
