// COLORS
// #000413 - black
// #3864C2 - blue
// #FF9721 - orange
// #25222F - grey
// #FFFFFF - white
$orange: #FF9721;
$neutral: #000413;
$neutral-light: #25222F;
$blue: #3864C2;
$white: #FFFFFF;
// FONTS
$roboto: "Roboto", Helvetica, sans-serif;
$opensans: "Open Sans", Helvetica, sans-serif;
$barlowcondensed: "Barlow Condensed", Helvetica, sans-serif;
