@use "../util" as util;

.content {
  &_collabs {
    background-color: util.$neutral-light;
    margin-top: 30px;
    height: 30em;
    @include util.flex(flex-start, column);
  }

  &__title_collabs {
    font-family: util.$opensans;
    font-size: 2rem;
    color: util.$orange;
    margin: 20px;
    height: auto;
  }

  &__collaborators {
    width: 40%;
    @include util.flex(space-between, row);
  }
}

.collaborators__logos {
  width: 60px;
  height: auto;
  margin: 10px;
}
