@use "../util/" as util;

.footer {
  @include util.barlow;
  @include util.flex(space-between, row);
  position: fixed;
  min-height: 52px;
  bottom: 0;
  padding: 5px 10px;
  width: 100%;
  color: util.$blue;
  background-color: util.$neutral;
  border-top: 3px solid util.$neutral-light;
}