@use "../util/" as util;

.main {
  padding: 6.5em 0;
  background-color: util.$neutral;

  &__title {
    color: util.$orange;
    @include util.barlow;
  }

  &_padding {
    padding: 6.5em 5em;
  }
}