@use "../util/" as util;

.article {
  padding: 10px;
  @include util.flex(center, column);

  &__title {
    font-family: util.$opensans;
    font-size: 2rem;
    color: util.$orange;
    margin: 2px 3px 5px;
  }

  &__paragraph {
    font-family: util.$roboto;
    font-size: large;
    color: util.$white;
  }

  &__cta {
    @include util.barlow;
    @include util.transition;
    width: 7em;
    height: 2.5em;
    font-size: 1.5rem;
    border: 1px solid util.$blue;
    border-radius: 20px;
    background-color: util.$neutral;
    color: util.$blue;

    &:hover {
      border: 2px solid util.$blue;
      border-radius: 20px;
      background-color: util.$neutral-light;
    }
  }
}
