@use "../util" as util;

.form {
  &__input {
    color: util.$blue;
    background-color: util.$neutral;
    border: 2px util.$blue solid;
    border-radius: 5px;
    padding: 3px;
  }
  
  &__submit {
    color: util.$blue;
    background-color: util.$neutral;
    border: 2px util.$blue solid;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
  }
}