@use "../util/" as util;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: util.$neutral;
  padding: 16px 32px;
  border-bottom: 3px solid util.$neutral-light;
}

.nav-container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    @include util.barlow;
    @include util.transition;
    color: util.$blue;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.menu__menu-item {
  @include util.barlow;
  @include util.transition;
  color: util.$blue;

  &_active {
    text-decoration: underline;
  }

  &:hover {
    color: util.$white;
  }
}
