@use "../util/" as util;

html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: util.$roboto;
  background-color: util.$neutral;
  color: util.$white;
}

// ::-webkit-scrollbar {
//   display: none;
// }
