@use '../util/' as util;

html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: util.$font-p;
  background-color: util.$light;
  color: util.$dark;
}

::-webkit-scrollbar {
  display: none;
}